.connect-content::before{
    background-color: #F2EFEC;
    content: '';
    position: absolute;
    height: 500px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1000;
}

.connect-content{
    position: relative;
    text-align: center;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connect-heading{
    font-size: 48px;
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    .connect-heading{
        font-size: 36px;
        font-weight: 400;
    }
}