.section-container {
  position: relative;
  width: 100vw;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2efec;
}


.section__heading{
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section__content{
  font-size: 1rem;
  max-width: 60vw;
  text-align: center;
}


@media (width <= 767px) {

  .section__heading{
    font-size: 1.1rem;
  }

  .section__content{
    font-size: 0.9rem;
    max-width: 90vw;
    margin-bottom: 1rem;
  } 

}