.section-container {
  position: relative;
  width: 100vw;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2efec;
}

.section-container::before {
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--bg2), var(--bg1);
  background-position: left center, right center;
  background-size: 40% 100%, 40% 100%;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.5;
}

.section__heading{
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.section__content{
  font-size: 1rem;
  max-width: 60vw;
  text-align: center;
  margin-bottom: 10rem;
}

.section__content::before{
  content: '';
  position: absolute;
  inset: 0;
  background-image: var(--bg3);
  background-position: 50% 75%;
  background-size: 5% 15%;
  background-repeat: no-repeat;
  z-index: 0;
}

@media (width <= 767px) {
  .section-container::before {
    background-size: 80% 100%, 80% 100%;
  }

  .section__heading{
    font-size: 1.1rem;
  }

  .section__content{
    font-size: 0.9rem;
    max-width: 90vw;
    margin-bottom: 7rem;
  } 

  .section__content::before{
    background-size: 10% 15%;
  }
}