
@import "tailwindcss";
  
@font-face {
    font-family: 'Maharlika';
    src: url('/public/fonts/Maharlika-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  @theme {
    --font-display: "Maharlika", sans-serif; 
  }